
{% extends 'base2.html.twig' %}


 {% block cssBlock  %}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
 {% endblock cssBlock %}


{% block titlePage  %} Liste des departements {% endblock %}

{% block titlePath  %} Liste des departements {% endblock %}
{% block SmaltitlePage  %} Inventaire {% endblock %}
{% block body  %}

    <div class="box">
        <div class="box-header with-border">
            <h3>Liste des departements</h3>
            <div class="pull-right">
                <a href="NewDepartement" type="button" class="btn btn-primary "><i class="fa fa-plus"> Ajouter un departement </i></a>
            </div>
        </div>

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Departements / Services </th>
                    <th scope="col">ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for departement in listdepartement %}
                    <tr>
                        <th scope="row">{{ departement.id }}.</th>
                        <td>{{ departement.libDept }}</td>

                        <td>
                            <a href="/EditeDepartement/{{ departement.id }}" type="button" class="btn btn-success">Editer</a>

                            <form method="post" action="/departement/{{ departement.id }}" style="display:inline-block">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{%  endblock %}

{% block scriptBlock  %}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#example1').DataTable();
        } );
    </script>

{% endblock scriptBlock %}

