<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Faculté numérique </strong> Université mohamed premier Oujda - faculté des sciences - Service informatique - Cellule de développemnt   
</footer>
